<mat-accordion>
    <ng-container *ngFor="let spellSlotsElement of characterValue.spellSlots">
        <ng-container *ngIf="this.characterValue.level === spellSlotsElement.level">
            <ng-container *ngFor="let spellSlots of spellSlotsElement.spellSlots; let i = index">
                <mat-expansion-panel>
                 <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="i === 0"> Cantrips (Known: {{spellSlots}}) </mat-panel-title>
                    <mat-panel-title *ngIf="i !== 0"> Level {{i}} (Slots: {{spellSlots}}) </mat-panel-title>
                </mat-expansion-panel-header>
                    <div class="flex-without-gap">
                        <span>Some Cantrip or Spell</span>
                        <button mat-icon-button>
                            <mat-icon>info_outline</mat-icon>
                        </button>
                        <button mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-expansion-panel>
            </ng-container>
        </ng-container>
    </ng-container>
</mat-accordion>  
