 <mat-accordion>           
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Cantrips (Known: 5) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Cantrip</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 1 (Slots: 2) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 2 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 3 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 4 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 5 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 6 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 7 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 8 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Level 9 (Slots: 0) </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="flex-without-gap">
            <span>Some Spell</span>
            <button mat-icon-button>
                <mat-icon>info_outline</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>  
