<div class="container" *ngIf="characterValue">
  <div class="vertical-flex">
    <ng-container *ngIf="!characterNameChangeActive">
      <h1> {{characterValue.name}} </h1>
      <button mat-icon-button color="primary" (click)="changeNameState()">
        <mat-icon>edit</mat-icon>
      </button>
    </ng-container>

    <ng-container *ngIf="characterNameChangeActive">
      <mat-form-field appearance="outline">
        <mat-label>Character Name</mat-label>
        <input matInput placeholder="Enter your character's name" [(ngModel)]="characterValue.name" (keydown.enter)="changeNameState()">
        <button mat-icon-button matSuffix color="primary" 
        (click)="changeNameState(); $event.stopPropagation(); $event.preventDefault();">
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </ng-container>   
  </div>

  <div class="vertical-flex">
    <button mat-icon-button color="primary" (click)="changeLevel(-1)">
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <h2> Level {{characterValue.level}}</h2>
    <button mat-icon-button color="primary" (click)="changeLevel(+1)">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>

  <div class="vertical-flex" style="margin-top: 5px;">
    <div class="vertical-flex">
        <mat-form-field>
          <mat-label>Class</mat-label>
          <mat-select required [(ngModel)]="characterValue.dndClass" [disabled]="!classChangeActive">
            
            <!-- 🔍 Search field -->
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Search classes..."
                noEntriesFoundLabel="No classes found"
                [(ngModel)]="classFilter">
              </ngx-mat-select-search>
            </mat-option>
            
            <ng-container *ngFor="let class of getFilteredClasses()">
              <mat-option [value]="class">
                {{ class }}
              </mat-option>
            </ng-container>

          </mat-select>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="changeClassState()" *ngIf="!classChangeActive">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="changeClassState()" *ngIf="classChangeActive">
            <mat-icon>save</mat-icon>
        </button>
    </div>

    <div>
        <div class="vertical-flex">
          <mat-form-field>
            <mat-label>Background</mat-label>
            <mat-select required [(ngModel)]="characterValue.background" [disabled]="!backgroundChangeActive">
              
              <!-- 🔍 Search field -->
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search backgrounds..."
                  noEntriesFoundLabel="No backgrounds found"
                  [(ngModel)]="backgroundFilter">
                </ngx-mat-select-search>
              </mat-option>

              <ng-container *ngFor="let background of getFilteredBackgrounds()">
                <mat-option [value]="background">{{ background }}</mat-option>
              </ng-container>

            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="changeBackgroundState()" *ngIf="!backgroundChangeActive">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="changeBackgroundState()" *ngIf="backgroundChangeActive">
            <mat-icon>save</mat-icon>
          </button>
        </div>
    </div>

    <div>
        <div class="vertical-flex">
          <mat-form-field>
            <mat-label>Race</mat-label>
            <mat-select required [(ngModel)]="characterValue.race" [disabled]="!raceChangeActive">

              <!-- 🔍 Search field -->
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search races..."
                  noEntriesFoundLabel="No races found"
                  [(ngModel)]="raceFilter">
                </ngx-mat-select-search>
              </mat-option>

              <ng-container *ngFor="let race of getFilteredRaces()">
                <mat-option [value]="race">{{ race }}</mat-option>
              </ng-container>

            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="changeRaceState()" *ngIf="!raceChangeActive">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="changeRaceState()" *ngIf="raceChangeActive">
            <mat-icon>save</mat-icon>
          </button>
        </div>
    </div>
  </div>

  <div class="vertical-flex" *ngIf="characterValue.level >= 3 && !classChangeActive">
    <mat-form-field>
        <mat-label>Subclass</mat-label>
        <mat-select required [(ngModel)]="characterValue.dndSubclass"  (selectionChange)="changeSubclass()">
          <ng-container *ngFor="let subclass of characterValue.dndSubclasses"> 
              <mat-option [value]="subclass"> {{subclass}} </mat-option>
          </ng-container>
        </mat-select>
    </mat-form-field>
  </div>

  <div>
    <h2> Basic Information </h2>
    <div class="panel-container">
      <div class="panel">
         <div class="vertical-flex">
            <button mat-icon-button color="primary" matTooltip="Discard" (click)="discardHealthChange()" *ngIf="isHealthChangeActive()">
              <mat-icon>refresh</mat-icon>
            </button>
            <h3>Health</h3>
            <button mat-icon-button color="primary" matTooltip="Save" (click)="saveHealthChange()" *ngIf="isHealthChangeActive()">
              <mat-icon>save</mat-icon>
            </button>
         </div>
        <div class="vertical-flex">
          <button mat-icon-button color="primary" matTooltip="Change Current Health" (click)="activateCurrentHealthChange()" *ngIf="!isHealthChangeActive()">
            <mat-icon>edit</mat-icon>
          </button>
          <div class="edit-buttons">
            <button mat-flat-button color="primary" (click)="changeHealth(-10)" *ngIf="isHealthChangeActive()"> - 10 </button>
            <button mat-flat-button color="primary" (click)="changeHealth(-1)" *ngIf="isHealthChangeActive()"> - 1 </button>
          </div>
          <div class="vertical-flex">
            <p [class.changing]="currentHealthChangeActive">{{characterValue.currentHealth}}</p>
            <p>/</p>
            <p [class.changing]="maxHealthChangeActive">{{characterValue.maxHealth}}</p>
          </div>
          <div class="edit-buttons">
            <button mat-flat-button color="primary" (click)="changeHealth(+1)" *ngIf="isHealthChangeActive()"> + 1 </button>
            <button mat-flat-button color="primary" (click)="changeHealth(+10)" *ngIf="isHealthChangeActive()"> + 10 </button>
          </div>
          <button mat-icon-button color="primary" matTooltip="Edit Health Maximum " (click)="activateMaxHealthChange()" *ngIf="!isHealthChangeActive()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <mat-progress-bar mode="determinate"  class="health-progress" [value]="getProcentualHealth()"></mat-progress-bar>
      </div>

      <div class="panel">
        <div class="vertical-flex">
            <button mat-icon-button color="primary" matTooltip="Discard" (click)="discardHitDiceChange()" *ngIf="isHitDiceChangeActive()">
              <mat-icon>refresh</mat-icon>
            </button>
            <h3>Hit Dice (d{{characterValue.hitDice}})</h3>
            <button mat-icon-button color="primary" matTooltip="Save" (click)="saveHitDiceChange()" *ngIf="isHitDiceChangeActive()">
              <mat-icon>save</mat-icon>
            </button>
         </div>
        <div class="vertical-flex">
          <button mat-icon-button color="primary" matTooltip="Change Current Hit Dice" (click)="activateCurrentHitDiceChange()" *ngIf="!isHitDiceChangeActive()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="changeHitDice(-1)" *ngIf="isHitDiceChangeActive()">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
          <div class="vertical-flex">
            <p [class.changing]="currentHitDiceChangeActive">{{characterValue.currentHitDice}}</p>
            <p>/</p>
            <div class="flex-without-gap">
              <p [class.changing]="maxHitDiceChangeActive">{{characterValue.maxHitDice}}</p>
            </div>
          </div>
          <button mat-icon-button color="primary" (click)="changeHitDice(+1)" *ngIf="isHitDiceChangeActive()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="Edit Hit Dice Maximum" (click)="activateMaxHitDiceChange()" *ngIf="!isHitDiceChangeActive()">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
        <mat-progress-bar mode="determinate" [value]="getProcentualHitDice()"></mat-progress-bar>
      </div>

      <div class="panel">
        <h3> Armor Class </h3>
        <p> {{characterValue.armorClass}} </p>
      </div>

      <div class="panel">
        <h3> Speed </h3>
        <p> {{characterValue.speed}} feet </p>
      </div>

      <div class="panel">
        <h3> Passive Perception </h3>
        <p> {{characterValue.passivePerception}} </p>
      </div>

      <div class="panel">
        <h3> Proficiency Bonus </h3>
        <p> +{{characterValue.proficiencyBonus}} </p>
      </div>

      <div class="panel" *ngIf="characterValue.spellcastingAbility && characterValue.spellcastingAbility !== ''">
        <h3> Spellcasting Ability </h3>
        <p> {{characterValue.spellcastingAbility}} </p>
      </div>
    </div>
  </div>

  <div class="subsection">
      <h2>Checks</h2>
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="vertical-flex">
              <span>Abilities</span>
              <button mat-icon-button matTooltip="Edit Ability Scores" (click)="openPointBuyDialog()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </ng-template>
          <div class="panel-container">
            <div class="panel" *ngFor="let ability of characterValue.abilities">
              <h3> {{ability.name}} </h3>
              <p> {{getModifier(ability)}} </p>
              <p>Score: <b>{{ability.basicScore + ability.bonus}}</b></p>
            </div> 
          </div>
        </mat-tab>
        <mat-tab label="Saving Throws"> 
          <div class="panel-container">
            <div class="panel" *ngFor="let ability of characterValue.abilities">
              <h3> {{ability.name}} </h3>
               <div class="vertical-flex">
                 <p> {{getSavingThrowModifier(ability)}} </p>
                 <mat-icon matTooltip="Proficient" aria-label="Info" *ngIf="ability.savingThrowProficiency == 1">check</mat-icon>
                 <mat-icon matTooltip="Expertise" aria-label="Info" *ngIf="ability.savingThrowProficiency == 2">done_all</mat-icon>
               </div>
            </div> 
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="vertical-flex">
              <span>Skills</span>
              <button mat-icon-button matTooltip="Edit Skill Proficiencies" (click)="changeSkillEditorState()" *ngIf="!skillChangeActive">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Save Skill Proficiencies" (click)="changeSkillEditorState()" *ngIf="skillChangeActive">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </ng-template>
          
          <div class="panel-container">
            <div class="panel" *ngFor="let skill of characterValue.skills">
              <div class="vertical-flex">
                <button mat-icon-button color="primary" matTooltip="Remove Expertise" (click)="removeProficiency(skill)" *ngIf="skillChangeActive">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <h3> {{skill.name}} </h3>
                <button mat-icon-button color="primary" matTooltip="Add Expertise" (click)="addProficiency(skill)" *ngIf="skillChangeActive">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
              <p>({{skill.ability}})</p>
             <div class="vertical-flex">
               <p> {{getSkillModifier(skill)}} </p>
               <mat-icon matTooltip="Proficient" aria-label="Info" *ngIf="skill.proficiency == 1">check</mat-icon>
               <mat-icon matTooltip="Expertise" aria-label="Info" *ngIf="skill.proficiency == 2">done_all</mat-icon>
             </div>
            </div> 
          </div>
          <div class="info-box" *ngIf="currentClass || currentBackground">
            <div *ngIf="currentClass">
              <div class="flex">
                <div class="flex"></div>    
                <span><b>Class Proficiencies:</b></span>
                <span> {{getFancyListString((currentClass.skillProficiencies))}}</span>
              </div>
              <p></p>
              <div class="flex">
                <span><b>Number of Class Proficiencies:</b></span>
                <span> {{currentClass.numberOfSkillProficiencies}} </span>
              </div>
            </div>
            <hr class="divider" *ngIf="currentClass && currentBackground">
            <div class="flex" *ngIf="currentBackground">
                <span><b>Background Proficiencies:</b></span>
                <span> {{getFancyListString((currentBackground.proficiencies))}} </span>
            </div>
          </div> 
        </mat-tab>
      </mat-tab-group>
  </div>

  <div class="subsection">
    <h2>Attacks & Spells</h2>
    <mat-tab-group>
        <mat-tab label="Attacks"> 

        </mat-tab>
        <mat-tab label="Spells"> 
          
        </mat-tab>
      </mat-tab-group>
  </div>

  <div class="subsection">
    <h2>Inventory</h2>
    <mat-tab-group>
        <mat-tab label="Equipment"> 

        </mat-tab>
        <mat-tab label="Items"> 
          
        </mat-tab>
      </mat-tab-group>
  </div>

  <div class="subsection">
      <h2>Features & Traits</h2>
      <mat-tab-group>
        <mat-tab label="Class Features">
          <p></p>
          <mat-accordion>
            <ng-container *ngFor="let feature of characterValue.classFeatures">
              <ng-container *ngIf="isFeatureVisible(feature.name)">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> {{feature.name}} </mat-panel-title>
                  </mat-expansion-panel-header>
                    <div class="trait-text">{{feature.text}}</div>
                </mat-expansion-panel>
              </ng-container>
            </ng-container>
          </mat-accordion> 
        </mat-tab>

        <mat-tab label="Background Traits">
          <p></p>
          <mat-accordion>
            <ng-container *ngFor="let trait of characterValue.backgroundTraits">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{trait.name}} </mat-panel-title>
                </mat-expansion-panel-header>
                  <div class="trait-text">{{trait.text}}</div>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>  
        </mat-tab>

        <mat-tab label="Race Traits"> 
          <p></p>
          <mat-accordion>
            <ng-container *ngFor="let trait of characterValue.raceTraits">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{trait.name}} </mat-panel-title>
                </mat-expansion-panel-header>
                  <div class="trait-text">{{trait.text}}</div>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion> 
        </mat-tab>

        <mat-tab label="Feats">
          <p></p>
          <mat-accordion>
            <ng-container *ngFor="let feat of characterValue.feats">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title> {{feat.name}} </mat-panel-title>
                </mat-expansion-panel-header>
                  <div class="trait-text">{{feat.text}}</div>
                  <button mat-icon-button (click)="removeFeat(feat)" style="float: right;">
                    <mat-icon>delete</mat-icon>
                  </button>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion> 
          
          <p></p>
          <button mat-icon-button (click)="openAddFeatDialog()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
          <p></p>
            
        </mat-tab>
      </mat-tab-group>
  </div>

  <div style="margin-top: 5em;">
    <button mat-raised-button color="primary" [routerLink]="['/']"> Main Page </button>
  </div>

</div>
