<ng-template #levelTemplate let-column="column" let-element="element">
  <span *ngIf="element[column.dataKey] === 0"> Cantrip</span>
  <span *ngIf="element[column.dataKey] !== 0">{{ element[column.dataKey] }}</span>
</ng-template>

<ng-template #actionsTemplate let-column="column" let-element="element">
  <div class="vertical-flex">
    <button mat-icon-button (click)="openDetailDialog(element)">
      <mat-icon>info_outline</mat-icon>
    </button>
    <button mat-icon-button (click)="add(element)">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
</ng-template>

<div mat-dialog-content class="dialog-content">
    <h1 mat-dialog-title> Add Spell </h1>
    
    <div *ngIf="data && data.length > 0">
        <custom-table
            [tableData]="data"
            [tableColumns]="tableColumns"
            [isFilterable]="true"
            [isFilterableOnlyVisible]="true"
            [isPageable]="true">
        </custom-table>
    </div> 
</div>

<button mat-icon-button class="close-button" (click)="close()">
  <mat-icon>close</mat-icon>
</button>