
<div style="margin-left: 10em;">
  <h1 style="margin-bottom: 2em;">Home</h1>
  
  <h2>Compendium</h2>

  <div class="compendium-upload">
    <app-single-file-upload
    (fileUpload)="uploadCompendium($event)"
    [buttonText]="getCompendiumButtonText()">
  </app-single-file-upload>
  <span>{{ compendiumFileName }}</span>
</div>

<h2>Backgrounds</h2>

<div style="width: 90%;" *ngIf="backgrounds && backgrounds.length > 0">
  <custom-table
    [tableData]="backgrounds"
    [tableColumns]="backgroundtableColum"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="getPaginationSizes()"
    [defaultPageSize]="getPaginationSizes()[0]">
  </custom-table>
</div>
</div>

