<ng-template #proficiencyTemplate let-column="column" let-element="element">
  <span style="color: blue;">{{ element[column.dataKey]?.join(', ') }}</span>
</ng-template>

<div style="margin-left: 10em;">
  <h1 style="margin-bottom: 2em;">Home</h1>
  
  <h2>Compendium</h2>

  <div class="compendium-upload">
    <ng-container *ngIf="!compendiumFileName">
      <app-single-file-upload 
        (fileUpload)="uploadCompendium($event)" 
        buttonText="Upload Compendium">
      </app-single-file-upload>
    </ng-container>
    <ng-container *ngIf="compendiumFileName">
      <span>{{ compendiumFileName }}</span>
      <button mat-icon-button color="primary" (click)="deleteCompendium()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
</div>

<h2>Backgrounds</h2>

<div style="width: 90%;" *ngIf="backgrounds && backgrounds.length > 0">
  <custom-table
    [tableData]="backgrounds"
    [tableColumns]="backgroundtableColumns"
    [isFilterable]="true"
    [isPageable]="true"
    [paginationSizes]="getPaginationSizes()"
    [defaultPageSize]="getPaginationSizes()[0]">
  </custom-table>
</div>
</div>

