<div style="margin-left: 10em; margin-right: 10em;">
  <h1>Home</h1>
  
  <h2>Compendium</h2>

  <div class="compendium-upload">
    <ng-container *ngIf="!compendiumFileName">
      <app-single-file-upload 
        (fileUpload)="uploadCompendium($event)" 
        buttonText="Upload Compendium">
      </app-single-file-upload>
    </ng-container>
    <ng-container *ngIf="compendiumFileName">
      <span>{{ compendiumFileName }}</span>
      <button mat-icon-button color="primary" (click)="deleteCompendium()">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-container>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Backgrounds</mat-panel-title>
      </mat-expansion-panel-header>
      <app-backgrounds></app-backgrounds>
    </mat-expansion-panel>
  </mat-accordion>

  <p></p>
  
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Races</mat-panel-title>
      </mat-expansion-panel-header>
      <app-races></app-races>
    </mat-expansion-panel>
  </mat-accordion>
</div>

