<div mat-dialog-content class="dialog-content">
    <h1 mat-dialog-title>Class Details ({{characterClass.name}})</h1>
    
    <div class="infos">
        <div>
            <h2> Basic Infos </h2>
             <div class="flex" *ngIf="characterClass.hitDice">
                 <h3>Hit Dice:</h3>
                 <p>{{characterClass.hitDice}}</p>
            </div>

            <div class="flex" *ngIf="characterClass.spellAbility">
                <h3>Spell Ability:</h3>
                <p>{{characterClass.spellAbility}}</p>
            </div>
            
            <div class="flex" *ngIf="characterClass.wealth">
                <h3>Wealth:</h3>
                <p>{{characterClass.wealth}}</p>
            </div>

             <div class="flex" *ngIf="characterClass.numberOfSkillProficiencies">
                 <h3>Number of Skill Proficiencies:</h3>
                 <p>{{characterClass.numberOfSkillProficiencies}}</p>
             </div>
        </div>

        <p></p>

        <div>
            
            <h2> Proficiencies </h2>
            <div class="flex" *ngIf="characterClass.savingThrowProficiencies[0] !== 'none'">
                 <h3>Saving Throws:</h3>
                 <p>{{getFancyListString(characterClass.savingThrowProficiencies)}}</p>
             </div>
             <div class="flex" *ngIf="characterClass.skillProficiencies[0] !== 'none'">
                 <h3>Skills:</h3>
                 <p>{{getFancyListString(characterClass.skillProficiencies)}}</p>
             </div>
             <div class="flex" *ngIf="characterClass.weaponProficiencies[0] !== 'none'">
                 <h3>Weapons:</h3>
                 <p>{{getFancyListString(characterClass.weaponProficiencies)}}</p>
             </div>
             <div class="flex" *ngIf="characterClass.armorProficiencies[0] !== 'none'">
                 <h3>Armor:</h3>
                 <p>{{getFancyListString(characterClass.armorProficiencies)}}</p>
             </div>
            <div class="flex" *ngIf="characterClass.toolProficiencies[0] !== 'none'">
                <h3>Tools:</h3>
                <p>{{getFancyListString(characterClass.toolProficiencies)}}</p>
             </div>
        </div>

        <p></p>

        <div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let classLevel of characterClass.classLevels">
                    <mat-expansion-panel-header>
                        <mat-panel-title *ngIf="classLevel.scoreImprovement == undefined || classLevel.scoreImprovement == false">Level {{ classLevel.level}} </mat-panel-title>
                        <mat-panel-title *ngIf="classLevel.scoreImprovement == true">Level {{ classLevel.level}} (Score Improvement) </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-container *ngTemplateOutlet="classLevelContent; context: { $implicit: classLevel }"></ng-container>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

    <p></p>


</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-flat-button color="primary" (click)="close()">Close</button>
</div>

<ng-template #classLevelContent let-classLevel>
    <h3>Spell Slots</h3>
     <ng-container *ngTemplateOutlet="spellSlotTable; context: { $implicit: classLevel.spellSlots }"></ng-container>

     <p></p>

    <mat-accordion>
        <ng-container *ngFor="let feature of classLevel.features">
            <ng-container *ngTemplateOutlet="featureExpansionPanel; context: { $implicit: feature }"></ng-container>
        </ng-container>
    </mat-accordion>

    <p></p>

    <mat-accordion>
        <ng-container *ngFor="let counter of classLevel.counters">
            <ng-container *ngTemplateOutlet="counterExpansionPanel; context: { $implicit: counter }"></ng-container>
        </ng-container>
    </mat-accordion>
</ng-template>

<ng-template #featureExpansionPanel let-feature>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title *ngIf="feature.optional === false">Feature {{ feature.name }} </mat-panel-title>
            <mat-panel-title *ngIf="feature.optional === true">(Optional) Feature {{ feature.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="text"> {{feature.text}} </div>
    </mat-expansion-panel>
</ng-template>

<ng-template #counterExpansionPanel let-counter>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Reset Info {{ counter.name }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="counter.reset === 'L'"  class="text"> {{ counter.name }} resets on Long Rest. </div>
        <div *ngIf="counter.reset === 'S'"  class="text"> {{ counter.name }} resets on Short Rest. </div>
        <div *ngIf="counter.reset !== 'L' && counter.reset !== 'S'"  class="text"> {{ counter.name }} resets on {{counter.reset}}. </div>
    </mat-expansion-panel>
</ng-template>

<ng-template #spellSlotTable let-spellSlotsString>
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of getSpellSlotsHeaderArray()">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let slot of getSpellSlotsDataArray(spellSlotsString)">{{ slot }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>
