<ng-template #subclassTemplate let-column="column" let-element="element">
  <span *ngIf="element[column.dataKey] !== 'No Subclass'"> {{element[column.dataKey]}}</span>
</ng-template>

<ng-template #actionsTemplate let-column="column" let-element="element">
  <div class="vertical-flex">
    <button mat-icon-button (click)="openCharacterDetails(element.id)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteCharacter(element.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</ng-template>

<h2>Characters</h2>

<div *ngIf="data && data.length > 0">
  <custom-table
    [tableData]="data"
    [tableColumns]="tableColumns"
    [isFilterable]="true"
    [isPageable]="true"
    [showAllData]="true">
  </custom-table>
</div>

<button mat-flat-button color="primary" (click)="openCharacterCreationDialog()"> Create Character</button>
