<div mat-dialog-content class="dialog-content">
    <h1 mat-dialog-title>Create Character</h1>
    
    <div class="infos">
        <div>
            <h2> Name </h2>
            <mat-form-field appearance="outline">
               <input matInput [(ngModel)]="creationValue.name" placeholder="Enter your character's name">
            </mat-form-field>
        </div>

        <p></p>

        <div>
            <h2> Class </h2>
            <mat-form-field appearance="fill">
                <mat-select required [(ngModel)]="creationValue.dndClass" (selectionChange)="selectClass()">

                    <!-- 🔍 Search field -->
                    <ngx-mat-select-search
                    placeholderLabel="Search classes..."
                    noEntriesFoundLabel="No classes found"
                    [(ngModel)]="classFilter">
                    </ngx-mat-select-search>

                    <!-- 🧙 Filtered options -->
                    <mat-option *ngFor="let dndClass of getFilteredClasses()" [value]="dndClass.name">
                    {{ dndClass.name }}
                    </mat-option>

                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedClass">
                <div class="flex" *ngIf="selectedClass.spellAbility">
                    <span><b>Spellcasting Ability:</b></span>
                    <span > {{selectedClass.spellAbility}}</span>
                </div>
                <p></p>
                <div class="flex">
                    <span><b>Saving Throw Proficiencies:</b></span>
                    <span> {{getFancyListString((selectedClass.savingThrowProficiencies))}}</span>
                </div>
                <p></p>
                <div class="flex">
                    <span><b>Possible Skill Proficiencies:</b></span>
                    <span> {{getFancyListString((selectedClass.skillProficiencies))}}</span>
                </div>
                <p></p>
                <div class="flex">
                    <span><b>Number of Skill Proficiencies:</b></span>
                    <span> {{selectedClass.numberOfSkillProficiencies}}</span>
                </div>
            </div>
        </div>

        <p></p>

        <div *ngIf="selectedClass">
            <h2> Class Skill Proficiencies </h2>
            <p></p>

           <mat-selection-list
            [(ngModel)]="selectedClassSkills"
            (selectionChange)="onSkillSelectionChange($event)">
            
            <mat-list-option
                class="mat-list-option"
                *ngFor="let skill of getVisibleSkills()"
                [value]="skill">
                {{ skill }}
            </mat-list-option>

            </mat-selection-list>

            <p *ngIf="classSkillsAreChoosen()" class="hint">
              Maximum reached ({{selectedClass.numberOfSkillProficiencies}}) — you can’t select more.
            </p>
        </div>

        <p></p>

        <div>
            <h2> Background </h2>
            <mat-form-field appearance="fill">
                <mat-select required [(ngModel)]="creationValue.background" (selectionChange)="selectBackground()">

                    <!-- 🔍 Search field -->
                    <ngx-mat-select-search
                    placeholderLabel="Search backgrounds..."
                    noEntriesFoundLabel="No backgrounds found"
                    [(ngModel)]="backgroundFilter">
                    </ngx-mat-select-search>

                    <!-- 🧩 Filtered options -->
                    <mat-option *ngFor="let background of getFilteredBackgrounds()" [value]="background.name">
                    {{ background.name }}
                    </mat-option>

                </mat-select>
            </mat-form-field>
            <div *ngIf="selectedBackground">
                <div class="flex">
                    <span><b>Skill Proficiencies:</b></span>
                    <span> {{getFancyListString((selectedBackground.proficiencies))}}</span>
                </div>
                <div *ngIf="getAbilityScores().length > 0">
                    <p></p>
                    <div class="flex" >
                        <span><b>Ability Scores:</b></span>
                        <span> {{getFancyListString(getAbilityScores())}}</span>
                    </div>
                </div>
            </div>
        </div>

        <p></p>

        <div>
            <h2> Race </h2>
            <mat-form-field appearance="fill">
                <mat-select required [(ngModel)]="creationValue.race" (selectionChange)="selectRace()">

                    <!-- 🔍 Search field -->
                    <ngx-mat-select-search
                    placeholderLabel="Search races..."
                    noEntriesFoundLabel="No races found"
                    [(ngModel)]="raceFilter">
                    </ngx-mat-select-search>

                    <!-- 🧬 Filtered options -->
                    <mat-option *ngFor="let race of getFilteredRaces()" [value]="race.name">
                    {{ race.name }}
                    </mat-option>

                </mat-select>
            </mat-form-field>
             <div *ngIf="selectedRace">
                <div class="flex">
                    <span><b>Speed:</b></span>
                    <span> {{selectedRace.speed}}</span>
                </div>
            </div>
        </div>

        <p></p>

        <div>
            <h2>Abilities</h2>
            <app-point-buy
                [(abilities)]="creationValue.abilities"
                [(pointBuySum)]="pointBuySum">
            </app-point-buy>
        </div>
    </div>
</div>

<div mat-dialog-actions class="dialog-actions">
    <button mat-flat-button color="primary" (click)="create()" [disabled]="!isEveryCreationInformationFilled()">Create</button>
</div>

<button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
</button>








