h1 {
    margin-bottom: 4%;
}

.dialog-content {
    margin: 2%;

}

/* Stick actions to the bottom */
.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
}

.big-gap {
  gap: 100px;
}

.flex h3 {
  width: 100px;
  margin: 0;
}

.control-set {
  display: flex;
  align-items: center;
  gap: 5px;
}

.control-set button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
}

.control-set p {
  margin: 0;
  width: 20px;
  text-align: center;
}

.control-set span {
  margin-right: 5px;
}


.infos > div {
  flex: 1;                 /* optional: make them equal width */
  padding: 1rem;           /* inner spacing */
  border: 1px solid #ccc;  /* light gray border */
  border-radius: 10px;     /* rounded edges */
  background-color: #f9f9f9; /* optional: light background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* optional: subtle shadow */
}

mat-form-field {
    width: 100%;
}

.bold {
  font-weight: bold;
}

.modifier-set {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mat-list-option {
  background: transparent;
}



