<ng-template #proficiencyTemplate let-column="column" let-element="element">
  <span>{{ element[column.dataKey]?.join(', ') }}</span>
</ng-template>

<ng-template #traitTemplate let-column="column" let-element="element">
  <div *ngIf="element[column.dataKey]" class="trait-cell">
    <button mat-icon-button (click)="openTraitDialog(column, element)">
      <mat-icon>info_outline</mat-icon>
    </button>
    <span>{{ element[column.dataKey].length }}</span>
  </div>
</ng-template>

<h2>Backgrounds</h2>

<div *ngIf="data && data.length > 0">
  <custom-table
    [tableData]="data"
    [tableColumns]="tableColumns"
    [isFilterableOnlyVisible]="true"
    [isFilterable]="true"
    [isPageable]="true">
  </custom-table>
</div>
