<div mat-dialog-content class="dialog-content">
    <h1 mat-dialog-title> Downloads </h1>

    <div class="vertical-flex">
        <span> Character Sheet </span>
        <button mat-icon-button color="primary" (click)="downloadCharacterSheet()">
            <mat-icon>download</mat-icon>
        </button>
    </div>

    <div class="vertical-flex">
        <span> Features & Traits (Level {{characterValue.level}}) </span>
        <button mat-icon-button color="primary" (click)="downloadFeatureSheet(true)">
            <mat-icon>download</mat-icon>
        </button>
    </div>

    <div class="vertical-flex">
        <span> Features & Traits (Level 20) </span>
        <button mat-icon-button color="primary" (click)="downloadFeatureSheet(false)">
            <mat-icon>download</mat-icon>
        </button>
    </div>

    <ng-container *ngIf="this.characterValue.spells && this.characterValue.spells.length > 0"> 
        <div class="vertical-flex">
            <span> Spellcasting Sheet </span>
            <button mat-icon-button color="primary" (click)="downloadSpellcastingSheet()">
                <mat-icon>download</mat-icon>
            </button>
        </div>
    
        <div class="vertical-flex">
            <span> Spell Info Sheet </span>
            <button mat-icon-button color="primary" (click)="downloadSpellInfoSheet()">
                <mat-icon>download</mat-icon>
            </button>
        </div>
    </ng-container>
</div>

<button mat-icon-button class="close-button" (click)="close()">
    <mat-icon>close</mat-icon>
</button>
