h1 {
    margin-bottom: 4%;
}

.dialog-content {
    margin: 2%;

}

/* Stick actions to the bottom */
.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: 10px;
}

.vertical-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}